Library
Logs
Packages
ProjectSettings
Temp
UserSettings
obj\Debug
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/obj/Debug
